/*---------HEADER---------- */

.header {
    height: auto;
    background-color: #db5a34;

}

.li-elements {
    justify-content: space-between;

}

.li-items {
    padding: 0 26px;
}


/*---------MAIN---------- */

.main {
    background-color: rgba(236, 233, 233, 0.678);
    height: 90vh;
    padding: 100px;
}

.container {
    position: relative;
    margin: auto;
    padding: 50px;
    background-color: white;
    height: 100%;
    width: 70%;
}

.reserva-container {
    display: flex;
    justify-content: center;
}

.fecha-left {
    padding: 20px;
    width: 40%;
    border: 1px solid black;

}

.form-fecha {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: larger;
}

.form-fecha input {
    padding: 10px;
    margin: 10px 0;
    font-size: large;
}

.form-fecha-button {

    margin: 10px auto;
}

.hora-right {
    width: 50%;
}

.container p {
    font-size: larger;
    margin: 20px 0;
}

/*--------HORAS----------*/

.hora-right {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    text-align: center;
    font-size: larger;
    margin-bottom: 20px;
}

.hour-element {
    border: 1px solid red;
}

.disable {
    color: rgba(114, 114, 114, 0.945);
    text-decoration: line-through;
}

.enable:hover {
    cursor: pointer;
}

.selected{
    background-color: #db5a34;
    color: white;
}

.reservar-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    display: flex;
}

#reservar-button{
    margin-left: 30px;
}


#info-reserva {
    font-size: medium;
}

/*---------RESPONSIVE---------- */


/* dispositivos móviles medianos */
@media (max-width: 768px) {

    .main {
        padding: 50px 10px;
        height: auto;
    }

    .li-elements,
    .button-nav {
        width: 20%;
        height: 15vh;
    }

    .li-items {
        padding: 0;
    }

    .container {
        padding: 20px;
        width: 100%;
        max-width: 530px;
        height: 200%;
    }

    .container p {
        text-align: center;
        font-size: medium;
    }

    .reserva-container {
        flex-direction: column;
    }

    .fecha-left {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-bottom: 20px;
        font-size: medium;
    }

    .hora-right {
        width: 100%;
        max-width: 300px;
        margin: auto;
        margin-bottom: 20px;
        font-size: medium;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        font-size: medium;
    }
    
    .reservar-container {
        position: static;
        margin: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    #reservar-button{
        margin: auto;
    }
}

/* Estilos para tablets y dispositivos móviles grandes */
@media (min-width: 768px) and (max-width: 1023px) {

    .container {
        padding: 20px;
        width: 80%;
    }

    .container p {
        text-align: center;
        font-size: medium;
    }


    .li-elements,
    .button-nav {
        width: 16%;
        height: 15vh;
    }

    .li-items {
        padding: 0;
    }

    .reserva-container {
        flex-direction: column;
    }

    .fecha-left {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
        font-size: medium;
    }

    .hora-right {
        width: 100%;
        margin-bottom: 20px;
        font-size: medium;
    }
    
    .container {
        height: 200%;
    }

    .main {
        height: auto;
    }
    
    .reservar-container {
        position: static;
        margin: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    #reservar-button{
        margin: auto;
    }
}

/*pantallas de laptops pequeñas */

@media (min-width: 1024px) and (max-width: 1280px) {

    .container {
        padding: 25px;
        width: 95%;
    }

    .grid-container {
        font-size: large;
    }

    .form-fecha {
        font-size: large;
    }
}



/* pantallas de escritorio medianas */
@media (min-width: 1280px) and (max-width: 1440px) {
    .container {
        padding: 50px;
        width: 80%;
    }

}